.bg-body-tertiary{
    color:rgb(255, 255, 255);
    margin-top: 100px;
}
.me-auto{
  display: flex;
  align-items: center;
  gap: 30px;
}
.dropdown{
  position: relative;
  display: inline-block;
}
.dropdown-menu{
  display: none;
  position: absolute;
  min-height: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
  padding: 12px 16px;
  z-index: 1;
}
.dropdown:hover .dropdown-menu{
  display: block;
}
a{
  display: block;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  color:white;
  font-size: 2rem;
  margin-left: 30px;
}
a:hover{
  color:red;
}
 
a:active{
  color: blue;
}
.container{
  display: inline;
}
.logo{
  width: 5%;
}
